/* Google fonts change the font names below. 
spaces in font name should be replaced with a +. 
Fonts separated by a | */
body {
font-family: 'Gloock', serif;
font-family: 'Roboto Serif', serif;
}

:root {
  /* values below matching colors from palette */
  --primary-color: black;
  --secondary-color:#DBB740;
  --accent1-color: #FFFDD0;
  --accent2-color: #064E83;

  /* chosen fonts*/
  --heading-font: 'Gloock', serif;
  --paragraph-font: 'Roboto Serif', serif;

  /*colors below chosen from palette colors above */
  --nav-background-color: black;
  --nav-hover-link-color: #FFFDD0;
  --nav-hover-background-color: #064E83;
  --headline-color-on-color: #DBB740; /* headlines on a colored background */ 
  --paragraph-color-on-white: black; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #FFFDD0; /* paragraph text on a colored background */ 
  --paragraph-background-color: black;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  font-family: var(--paragraph-font);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

img {
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h2 {
  text-align: center;
}

hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}

header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 1200px;
  margin: auto;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.colors th {
  background-color: #999;
}

.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.accent1 {
  background-color: var(--accent1-color);
}

.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  gap: 5em;
  list-style-type: none;
  display: flex;
}

nav a {
  display:block;
  width: auto;
  max-width: 1200px;
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  margin-left: 20px;
}

nav a:link, nav a:visited {
  color:#DBB740;
  width: auto;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}